@font-face	{
	font-family:'leagueSpartanBold';
	src: url('../archivos/fonts/leagueSpartanBold.ttf');
}

@font-face {
  font-family: 'leaguegothicRegular';
  src: url('../archivos/fonts/leaguegothicRegular.ttf');
}

@font-face {
  font-family: 'Livvic', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'leagueSpartanBold';
}

a:link, a:visited, a:active {
    text-decoration:none;
}

body {
	width: 98%;
	margin: 0 auto;
}

/*----------------------------------------------------
                NAV/ HEADER
----------------------------------------------------*/

.header {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  z-index: 100;
  position: fixed;
  width: 90%;
  left: 5%;
}

.nav {
  background: white;
  height: 80px;
  border-radius: 20px;
  color: black;
  display: flex;
  justify-content: center;
  width: 90%;
}

.nav__logo { 
  font-size: 1.5em;
  font-weight: 900;

}

.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav__label, .nav__input {
  display: none;
}

.nav__menu{
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
}

.nav__item {
  color: black;
  text-decoration: none; 
  --clippy: polygon(0 0,0 0,0 100%, 0% 100%); 
}

.nav__item::after {
  content: "";
  display: block;
  background: #fff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path .5s;
}

.nav__item:hover{
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/*----------------------------------------------
Inicio de SECCION 1 /NOVEDADES 
----------------------------------------------*/
.seccion-uno {
  margin: 0 auto;
  background-size: cover;
  background-image: url(../archivos/imagenes/fondo-meme2.png);
  background-repeat: no-repeat;
  width: 98%;
  height: 940px;
}

.container-seccion {
  display: grid;
  width: 90%;
  margin: 0 auto;
  padding-top: 140px;
  grid-template-columns: 50% 50%;
  font-family: 'leagueSpartanBold';
  grid-template-areas: 
    
    "container-txt container-img";
}

.container-txt {
  grid-area: 'container-txt';
  display: flex;
  flex-direction: column;
  margin: 50px 60px 95px 49px;
}


.container-txt {
  grid-area: container-txt;
  display: flex;
  justify-content: center;
  row-gap: 23px;
}

.container-img {
  grid-area: container-img;
}

.container-img img {
  width: 500px;
  position: relative;
  top: 30px;
  vertical-align: middle;
  border-style: none;
  right: 53px;
}

.container-txt h3 {
  font-size: 34px;
  font-weight: 300;
  color: white;
}

.container-txt h4 {
  padding: 0 0px;
  margin-top: 15px;
}   

.container-txt h4 mark {
  background-color: white;
}

.container-txt p {
  font-size: 25px;
  color: white;
  font-family: "Livvic";
}

/*----------------------------------------------
Inicio de SECCION 2 / ONBOARDING 
----------------------------------------------*/
.seccion-dos {
  width: 100%;
  background: white;
  margin: 0 auto;
  height: 180px;
}

.container-seccion-dos {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 80%;
  justify-content: center;
  column-gap: 45px;
  position: relative;
  z-index: 1;
  bottom: 250px;
}

.container-content {
  background-color: #565555;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  text-align: center;
  align-items: center;
  padding: 20px 10px;
  width: 75%;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
}

.container-content img {
  width: 40px;
}

.container-content p {
  font-family: 'leagueSpartanBold';
  font-size: 25px;
  color: white;
  margin: 0 16px 16px;
  line-height: 41px;
}
/*----------------------------------------------
Inicio de SECCION 3 / DIALOGO
----------------------------------------------*/

.seccionDialogo {
  background-image: url(../archivos/imagenes/fondo-categorias.png);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.dialogoUno {
  display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 12%;
}

.dialogoUno img {
  width: 877px;
  position: relative;
  bottom: 69px;
}

.dialogoDos {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 120px;
    margin-left: 100px;
    align-self: center;
}

.dialogoDos img {
  width: 450px;
  position: relative;
}

.dialogoDos p {
    font-family: 'leaguegothicRegular';
    font-size: 45px;
    text-align: center;
    padding: 15px 25px 15px 35px;
    margin-right: 41px;
}

/*----------------------------------------------
Inicio de SECCION 4 mision 
----------------------------------------------*/
/*inicio de seccion4 objetivos*/

.seccion-cuatro {
  display: flex;
  flex-direction: column;
  background-image: url(../archivos/imagenes/fondo-dialogo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container-txt-dialogo {
  align-items: center;
  margin: 5% auto;
  width: 50%;
  border-radius: 40px;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 25px 45px rgb(0 0 0 / 10%);
  z-index: 2;
}

.tituloUno {
  text-align: center;
  font-family: 'leaguegothicRegular';
  margin: 5% auto;
  font-size: 45px;
}

.tituloUno mark {
  background-color: yellow;
}

.txtUno {
  font-family: 'leagueSpartanBold';
  font-size: 20px;
  text-align: center;
  margin: 0 20px 25px 20px;
}
.txtDos {
  font-family:'LexendDecaRegular';
  font-size: 20px;
  text-align: center;
  margin: 0 32px 25px 20px;
    padding: 0 15px;
}

.tituloDos {
  text-align: left;
    font-family: 'leaguegothicRegular';
    margin: 20px 20px 40px 29px;
    font-size: 45px;
}

.tituloDos mark {
  background-color: yellow;
}

.txtTres {
  font-family: 'leagueSpartanBold';
  font-size: 20px;
  text-align: center;
  margin: 0 20px 25px 20px;
  padding: 0 15px;
}

/*------------fin de css - SECCION 4 --------------------------*/
/*------------inicio de SECCION 5 ----------------------------*/

/*------------inicio de SECCION 4 FONDO MISION----------------------------*/

.forms {
  position: relative;
  width: 100%;
  height: 980px;
  background: yellow;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.form .set img {
  width: 25px;
}
.forms h2 {
  color: black;
  font-size: 45px;
  position: relative;
  bottom: 160px;
}

.forms .set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.forms .set div {
  position: absolute;
  display: block;
}

.forms .set div:nth-child(1)
{
  left: 20%;
  animation: animate 15s linear infinite;
  animation-delay: -7s;
}

.forms .set div:nth-child(2)
{
  left: 50%;
  animation: animate 20s linear infinite;
  animation-delay: -7s;
}

.forms .set div:nth-child(3)
{
  left: 70%;
  animation: animate 20s linear infinite;
  animation-delay: 0;
}

.forms .set div:nth-child(4)
{
  left: 0%;
  animation: animate 15s linear infinite;
  animation-delay: -5s;
}

.forms .set div:nth-child(5)
{
  left: 85%;
  animation: animate 18s linear infinite;
  animation-delay: -10s;
}

.forms .set div:nth-child(6)
{
  left: 0%;
  animation: animate 12s linear infinite;
}

.forms .set div:nth-child(7)
{
  left: 15%;
  animation: animate 18s linear infinite;
}

.forms .set div:nth-child(9)
{
  left: 60%;
  animation: animate 18s linear infinite;
}


@keyframes animate 
{
  0%
  {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate;
  }
  10%
  {
    opacity: 1;
  }
  20%
  {
    transform: translateX(-20px) rotate(45deg);
  }
  40%
  {
    transform: translateX(-20px) rotate(90deg);
  }
  60%
  {
    transform: translateX(20px) rotate(180deg);
  }
  80%
  {
    transform: translateX(-20px) rotate(180deg);
  }
  100%
  {
    top: 110%;
    transform: translateX(-20px) rotate(225deg);
  }
}

.set2 {
  transform: scale(2) rotateY(180deg);
  filter: blur(2px);
}

.set3 {
  transform: scale(0.8) rotateY(180deg);
  filter: blur(4px);
}

/*------------FORMULARIO------------*/

.box-forms {
  position: relative;
  bottom: 450px;
  justify-content: center;
  display: flex;
  z-index: 2;
  height: 0px;
}

.container-box {
  position: relative;
  width: 60%;
  min-height: 400px;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.formulario {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.formulario h2 {
  position: relative;
  color: black;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.formulario h2::before
{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background:  #3D3DE0;
}

.formulario .inputBox {
  width: 100%;
  margin-top: 20px;
}

.formulario .inputBox input {
  width: 100%;
  background: rgba(255,255,255,0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: #3D3DE0;
  box-shadow: 0 5px 15 black;
}

.input-boton input{
  width: 100%;
  background: #3D3DE0;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  box-shadow: 0 5px 15 black;
}
.formulario .inputBox input::placeholder
{
  color: black;
}

.formulario .inputBox input[type="submit"]
{
  background: #3D3DE1;
  color: #666;
  max-width: 100px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
}

.checkbox {
  align-content: center;
}

.forget {
  color: black;
  font-size: 10px;
}

/*----------------------------------------------------
              INICIO DE FOOTER
------------------------------------------------------*/

/*inicio de footer*/

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: #D096C2;
  margin: 0 auto;
  padding: 40px 150px; 
  border-radius: 20px 20px 0 0;
  align-items: center;
}

.logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
}

.logo-footer p {
  color: white;
}
.logo-footer img {
  width: 270px;
}

.footer__informacion {
    display: flex;
    flex-direction: column;
    color: white; 
    column-gap: 10px;
    margin: 40px 104px 0 0;
    row-gap: 10px;
}

.footer__info-rrss {
    display: flex;
    flex-direction: column;
    color: white; 
    column-gap: 10px;
    margin: 40px 10px 0 0;
    row-gap: 10px; 
    text-align: center;
} 
.footer__informacion p {
  font-family: 'Livvic';
  padding: 0 20px 0 0;
}

.footer__titulo {
  text-transform: uppercase;
  font-size: 25px; 
}

.iconos-rrss {
  padding: 25px;
  width: 100px;
  transition: .6s;
  height: 100px; 
}
hr{ 
  
    border:none;
    border-left:1px solid white;
    height:200px;
    width:1px;       
} 

.iconos-rrss:hover {
    padding: 25px;
    width: 105px;
    height: 105px; 
}

.footer__iconos-rrss {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 15px;
}

.container-rrss {
  background-color: white;
  border-radius: 50px;
  height: 100px;
}
 
.container-rrss:hover
{
  background-color: grey;
}

.credito {
  align-items: center;
}

/*///////////////////////////////////////////////////////////////
----------------------MEDIAS QUERIES----------------------------
///////////////////////////////////////////////////////////////*/

@media (max-width: 1200px) {

  /* ------SECCION 1 // NOVEDADES -------*/
    
    .seccion-uno {
      margin: 0 auto;
      background-size: cover;
      background-image: url(../archivos/imagenes/fondo-meme2.png);
      background-repeat: no-repeat;
      width: 98%;
      height: 940px;
    }

    .container-seccion {
      display: grid;
      width: 90%;
      margin: 0 auto;
      padding-top: 140px;
      grid-template-columns: 50% 50%;
      font-family: 'leagueSpartanBold';
      grid-template-areas: 
        
        "container-txt container-img";
    }

    .container-txt {
      grid-area: 'container-txt';
      display: flex;
      flex-direction: column;
      margin: 50px 60px 95px 49px;
    }


    .container-txt {
      grid-area: container-txt;
      display: flex;
      justify-content: center;
      row-gap: 23px;
    }

    .container-img {
      grid-area: container-img;
    }

    .container-img img {
      width: 395px;
      position: relative;
      right: 39px;
      vertical-align: middle;
      border-style: none;
      top: 141px;
    }

    .container-txt h3 {
      font-size: 34px;
      font-weight: 300;
      color: white;
    }

    .container-txt h4 {
      padding: 0 0px;
      margin-top: 15px;
    }   

    .container-txt h4 mark {
      background-color: white;
    }

    .container-txt p {
      font-size: 20px;
      color: white;
      font-family: "Livvic";
    }

  /*----------SECCION 2 // ONBOARDING-------------*/

    .container-content p {
      font-family: 'leagueSpartanBold';
      font-size: 20px;
      color: white;
      margin: 0 16px 16px;
      line-height: 41px;
    }

  /*------------SECCION 3// DIALOGO -------------*/
    .dialogoUno img {
      width: 750px;
      position: relative;
      bottom: 69px;
    }

  /*--------------footer---------------------*/
    .footer {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
      background-color: #D096C2;
      margin: 0 auto;
      padding: 40px 150px; 
      border-radius: 20px 20px 0 0;
      align-items: center;
    }

    .logo-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 25px;
    }

    .footer__informacion {
      display: flex;
      flex-direction: column;
      color: white;
      column-gap: 10px;
      margin: 0 auto;
      row-gap: 10px;
      text-align: center;
     }

    .footer__informacion p {
      font-family: 'Livvic';
      text-align: center;
    }

    .footer__titulo {
     text-transform: uppercase;
     font-size: 15px;
    }

    .footer__info-rrss {
      display: flex;
      flex-direction: column;
      color: white;
      column-gap: 10px;
      margin: 40px 0 0 0;
      row-gap: 10px;
      text-align: center;
    }

    .iconos-rrss {
      padding: 9px;
      width: 50px;
      transition: .6s;
      height: 50px;
    }
    .container-rrss {
      background-color: white;
      border-radius: 50px;
      height: 50px;
    }

    .logo-footer img {
      width: 187px;
    }

    .iconos-rrss:hover {
      padding: 9px;
      width: 55px;
      height: 55px;
    }    
}

/*//////////////////////////////
-------------TABLET-------------
////////////////////////////////*/

@media (max-width: 992px) {

  /*----------NAV-----------*/
      .nav__label{
        display: block;
        cursor: pointer;
      }

      .nav__menu {
        position: fixed;
        top: 90px;
        bottom: 0;
        width: 80%;
        left: 10%;
        height: 500px;
        display: flex;
        background: grey;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        font-size: 25px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        border-radius: 0 0 20px 20px;
        transition: clip-path 1s ease-in-out;
      }

      .nav__input:checked + .nav__menu {
        background: white;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
   
  /*--------- SECCION UNO // NOVEDADES ----------*/

    .container-seccion {
      display: grid;
      width: 90%;
      margin: 0 auto;
      padding-top: 140px;
      grid-template-columns: 100%;
      grid-template-rows: 50% 50%;
      font-family: 'leagueSpartanBold';
      grid-template-areas: 
        
        "container-txt" 
        "container-img";
    }

    .seccion-uno {
      margin: 0 auto;
      background-size: cover;
      background-image: url(../archivos/imagenes/fondo-meme2.png);
      background-repeat: no-repeat;
      width: 98%;
      height: 940px;
    }

    .container-txt {
      grid-area: 'container-txt';
      display: flex;
      flex-direction: column;
    }

    .container-txt {
      grid-area: container-txt;
      display: flex;
      justify-content: center;
      row-gap: 7px;
      text-align: center;
      padding: 0 47px;
    }

    .container-img {
      grid-area: container-img;
      align-self: center;
      margin: 33px auto;
    }

    .container-img img {
      width: 300px;
      position: relative;
      vertical-align: middle;
      border-style: none;
      left: 0;
      top: -80px;
    }

    .container-txt h3 {
      font-size: 38px;
      font-weight: 300;
      color: white;
    }

    .container-txt h4 {
      padding: 0 0px;
      margin-top: 15px;
    }   

    .container-txt h4 mark {
      background-color: white;
    }

    .container-txt p {
      font-size: 18px;
      color: white;
      font-family: "Livvic";
    }

 /*----------SECCION 2 // ONBOARDING-------------*/
    .container-seccion-dos {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      width: 80%;
      justify-content: center;
      column-gap: 45px;
      position: relative;
      z-index: 1;
      bottom: 118px;
    }
    .container-content p {
      font-family: 'leagueSpartanBold';
      font-size: 17px;
      color: white;
      margin: 0 16px 16px;
      line-height: 35px;
    }

  /*------------SECCION 3// DIALOGO -------------*/
    .dialogoUno img {
      width: 436px;
      position: relative;
      top: 62px;
    }

    .dialogoDos img {
      width: 270px;
      position: relative;
    }

    .dialogoDos p {
      font-family: 'leaguegothicRegular';
      font-size: 31px;
      text-align: center;
      padding: 112px 23px 15px 67px;
    }

  /*--------------footer---------------------*/
    .footer {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
      background-color: #D096C2;
      margin: 0 auto;
      padding: 40px 150px; 
      border-radius: 20px 20px 0 0;
      align-items: center;
    }

    .logo-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 25px;
    }

    .footer__informacion {
      display: flex;
      flex-direction: column;
      color: white;
      column-gap: 10px;
      margin: 0 auto;
      row-gap: 10px;
      text-align: center;
     }

    .footer__informacion p {
      font-family: 'Livvic';
      text-align: center;
    }

    .footer__titulo {
     text-transform: uppercase;
     font-size: 15px;
    }

    .footer__info-rrss {
      display: flex;
      flex-direction: column;
      color: white;
      column-gap: 10px;
      margin: 40px 0 0 0;
      row-gap: 10px;
      text-align: center;
    }

    .iconos-rrss {
      padding: 9px;
      width: 50px;
      transition: .6s;
      height: 50px;
    }
    .container-rrss {
      background-color: white;
      border-radius: 50px;
      height: 50px;
    }

    .logo-footer img {
      width: 187px;
    }

    .iconos-rrss:hover {
      padding: 9px;
      width: 55px;
      height: 55px;
    }    
}

/*/////////////////////////////////////////
--------------MOBILE-----------------------
/////////////////////////////////////////*/


@media (max-width: 768px){

  /*----------SECCION 2 // ONBOARDING-------------*/
    .container-seccion-dos {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      width: 80%;
      justify-content: center;
      column-gap: 45px;
      position: relative;
      z-index: 1;
      bottom: 118px;
    }
    .container-content p {
      font-family: 'leagueSpartanBold';
      font-size: 17px;
      color: white;
      margin: 0 16px 16px;
      line-height: 35px;
    }

  /*------------SECCION 3// DIALOGO -------------*/
   .dialogoUno img {
    width: 380px;
    position: relative;
    top: 166px;
    }

    .dialogoDos img {
      width: 230px;
      position: relative;
    }

    .dialogoDos p {
      font-family: 'leaguegothicRegular';
      font-size: 15px;
      text-align: center;
      position: relative;
      top: 63px;
      left: 30px;
    }
    
  /*---------SECCION 4 // MISION------------------*/

    .seccion-cuatro {
      display: flex;
      flex-direction: column;
      background-image: url(../archivos/imagenes/fondo-dialogo.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .container-txt-dialogo {
      align-items: center;
      margin: 5% auto;
      width: 70%;
      border-radius: 40px;
      backdrop-filter: blur(2px);
      border: 1px solid rgba(255,255,255,0.5);
      border-right: 1px solid rgba(255,255,255,0.2);
      border-bottom: 1px solid rgba(255,255,255,0.2);
      box-shadow: 0 25px 45px rgb(0 0 0 / 10%);
      z-index: 2;
    }
}